<!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" routerLink='home'>Angular2 Components</a>
        </div>
      </div>
    </nav>
