@import "../../assets/styles/breakpoints";

#carousel-wrapper {
    height: 225px;
    overflow: hidden;

    .carousel-row {
        width: 500%;
        overflow-y: hidden;

        .thumbnail-wrapper {
            width: 325px;
            float: left;
            padding: 0 15px;

            .carousel-item {
                position: relative;
                cursor: pointer;
                left: 30px;
                height: 225px;

                a {
                    text-decoration: none;
                    outline: 0;
                }

                .caption {
                    color: #666666;
                    font-size: 13px;
                    padding-left: 2px;
                    text-align: left;
                    line-height: 1;

                    .icon-video {
                        position: absolute;
                        bottom: 6px;
                    }

                    .video-duration {
                        position: absolute;
                        bottom: 7px;
                        left: 25px;
                        font-size: 11px;
                        // vertical-align: text-top;
                    }
                }

                .icon-play {
                    position: absolute;
                    top: 60px;
                    left: 108px;
                }

                img {
                    max-width: 100%;
                    width: 100%;
                    height: 160px;
                    border-bottom: 5px solid #0094D3;
                }

            }
        }
    }

    .arrows {
        display: none;

        .carousel-control {
            width: 100px;
        }
    }

    #myModal {
        .modal-content {
            background: transparent;
            border: transparent;
            box-shadow: none;

            .modal-header {
                position: relative;
                border: transparent;

                .close {
                    position: absolute;
                    right: 20px;
                    bottom: 0px;
                    font-size: 30px;
                    color: #FFF;
                    opacity: 1;
                    text-shadow: none;
                }
            }

            .modal-body {
                padding: 0 15px;
            }
        }
    }
}

@include breakpoint(sm) {
    #carousel-wrapper {

        .carousel-row {
            .thumbnail-wrapper {
                width: 260px;
                padding: 0 7px;

                .carousel-item {
                    left: -110px;

                    .icon-play {
                        left: 83px;
                    }
                }
            }
        }
    }
}

@include breakpoint(md) {
    #carousel-wrapper {

        .carousel-row {
            .thumbnail-wrapper {
                width: 350px;
                padding: 0 15px;

                .carousel-item {
                    left: -50px;

                    .icon-play {
                        left: 132px;
                    }
                }
            }
        }

        .arrows {
            display: block;

            .carousel-control {
                .icon-left {
                    color: #A8A8A8;
                    font-weight: bold;
                    position: absolute;
                    top: 92px;
                    left: 20px;
                }

                .icon-right {
                    color: #A8A8A8;
                    font-weight: bold;
                    position: absolute;
                    top: 92px;
                    right: 20px;
                }
            }

            // .carousel-control.left {
            //   background-image: linear-gradient(to right, #f5f5f5 0%, rgba(255, 255, 255, 0.15) 100%);
            //   background-repeat: repeat-x;
            //   opacity: .9;
            // }
            //
            // .carousel-control.right {
            //   background-image: linear-gradient(to right, rgba(255, 255, 255, 0.15) 0%, #f5f5f5 100%);
            //   background-repeat: repeat-x;
            //   opacity: .9;
            // }
        }
    }
}
