<div class="carousel-container">
    <div id="carousel-wrapper" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
          <div class="row carousel-row">
                <div *ngFor="let image of carouselItems;let i = index;">
                    <div class="thumbnail-wrapper item" [class.active]="i === 0">
                        <div class="thumbnail carousel-item" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">
                            <a href="{{image.src}}" data-toggle="modal" data-target="#myModal">
                                <img src="{{image.thumbnailUrl}}">
                                <div class="caption">
                                     <p>{{image.title}}</p>
                                     <span class="icon-video fa fa-video-camera" aria-hidden="true"></span>
                                     <span class="video-duration">{{"("+image.duration+")"}}</span>
                                </div>
                                <span class="icon-play fa fa-play-circle-o fa-4x"></span>
                            </a>
                        </div>
                    </div>
                 </div>
          </div>
      </div>

      <div class="arrows">
        <a class="left carousel-control" href="#carousel-wrapper" role="button" data-slide="prev" (click)="prev($event)">
          <span class="icon-left fa fa-angle-left fa-2x" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-wrapper" role="button" data-slide="next" (click)="next($event)">
          <span class="icon-right fa fa-angle-right fa-2x" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div id="myModal" class="modal fade">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  </div>
                  <div class="modal-body">
                      <iframe
                          id="modalVideo"
                          width="560"
                          height="315"
                          frameborder="0"
                          allowfullscreen>
                      </iframe>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
