.search-box-container {
  position: relative;

  .search-box {
      width: 50%;
      margin: 0 auto;

    .form-control{
      height: 40px;
      box-shadow: 0 1px 1px rgba(0,0,0,.075);
    }

    button {
      background-color: #0094D3;
      font-size: 12px;
      padding: 8px 24px 7px;
      height: 40px;
      text-transform: uppercase;
    }
  }

  .suggest-box {
    position: absolute;
    left: 292px;
    z-index: 999;
    color: #696566;
    font-size: 16px;
    text-align: left;
    width: 41.5%;
    border: 1px solid #CCCCCC;
    border-top: 0;
    background-color: #FFF;
    background: #FFFFFF;
    box-shadow: 0 0 10px 0 #CFD4DA;
    border-radius: 0 0 10px 10px;

    .item {
      padding: 13px;
      border-top: 1px solid #E5E5E5;

      .title {
          margin: 0;
      }
    }

    .item:first-child {
      border-top: 0;
    }

    .item:last-child {
        border-radius: 0 0 10px 10px;
    }

    .item:hover {
      background-color: #F7F9FC;
    }
  }
}

:host /deep/ .highlight {
  font-weight: bold;
}
