<div class="search-box-container">
  <div class="input-group search-box">
    <input type="text" class="form-control" [(ngModel)]="model" [title]="title" [placeholder]="prompt" (keyup)="handleKeys($event)">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button" (click)="handleSearch(model)">Search</button>
    </span>
  </div>
  <!-- /input-group -->

  <div class="items suggest-box" *ngIf="!isEscKey && model.length > 0">
    <div class="item" *ngFor="let suggestion of suggestions | suggestionFilter : model" (click)="handleSearch(suggestion[title])" style="cursor:pointer">
      <p [innerHTML]="suggestion[title]  | highlight : model" class="title"></p>
    </div>
  </div>
</div>
