<div class='container-fluid'>
    <div class='component-container container'>
        <h2>Typeahead Search</h2>
        <app-typeahead-search [prompt]="'Search for a Country'"
                              [title]="'name'"
                              [suggestions]="suggestions">
        </app-typeahead-search>
    </div>
    <hr/>
    <div class='component-container container'>
        <h2>Multi-Item responsive Carousel</h2>
        <app-carousel [carouselItems]="items"></app-carousel>
    </div>
    <hr/>
    <div class='component-container container'>
        <h2>Tree Component</h2>
        <app-tree [data]="data"></app-tree>
    </div>
    <hr/>
</div>
